<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Produto</title>
<link rel="stylesheet" href="/static/css/style_cadastro_produtos.css">
</head>
<body>

<h2>Cadastro de Produto</h2>

<form id="produtoForm">
  <input id="nome" type="text" placeholder="Nome do Produto" required><br>
  <textarea id="descricao" placeholder="Descrição do Produto"></textarea><br>
  <input id="preco" type="number" step="0.01" placeholder="Preço (R$)" required><br>
  <input id="quantidade" type="number" placeholder="Quantidade" required><br>
  <input type="hidden" id="editingId" value=""><br>
  <button type="submit">Cadastrar Produto</button>
</form>
<script src="/static/js/protecao_admin.js"></script>
<script src="/static/js/cadastro_produtos.js"></script>
</body>
</html>
