<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mix-Modas</title>
<link rel="stylesheet" href="/static/css/style_index.css">
</head>
<body>

<h1>Bem-vindo</h1>

<nav id="menuAdmin" style="display:none">
  <a href="/templates/lista_produtos.html">Lista de Produtos</a> |
  <a href="/templates/cadastro_produtos.html">Cadastrar Produto</a>
</nav>
<button id="logout">Sair</button>

<script src="/static/js/protecao.js"></script>
<script>
  if(localStorage.getItem('userRole')==='admin') document.getElementById('menuAdmin').style.display='block';
  document.getElementById('logout').addEventListener('click', ()=>{ localStorage.removeItem('usuarioLogado'); localStorage.removeItem('userRole'); window.location.href='/templates/tela_login.html'; });
</script>
</body>
</html>
