<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
<link rel="stylesheet" href="/static/css/style_login.css">
</head>
<body>

<form id="loginForm">
  <div class="logo-container">
            <div class="logo">Mix-Modas</div>
            <div class="logo-subtitle">Sua loja de moda favorita</div>
        </div>

        <h1>Fazer Login</h1>
  <input id="email" type="email" placeholder="Email" required><br>
  <input id="password" type="password" placeholder="Senha" required><br>
   <button type="submit" class="login-button">ENTRAR</button>
        
        <!-- Botão para cadastro -->
        <button type="button" class="btn-secondary" onclick="window.location.href='/templates/tela_cadastro.html'">
            Não tem conta? Cadastre-se
        </button>
        
  <div class="links-container">
            <a href="/templates/index.html" class="voltar-link">← Voltar para a loja</a>
        </div>

        <p id="mensagem" style="color: red;"></p>
       
</form>

<p id="mensagem"></p>
<script src="/static/js/login.js"></script>
</body>
</html>
